
@tailwind base;
@tailwind components;
@tailwind utilities;


  body {
overflow-x:hidden;
background: '#fbf8fa';
  background-image: url("./assets/images/background.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
}


